.main {
    color: #c5c6c7;

    background-image: url("https://images.unsplash.com/photo-1572947650440-e8a97ef053b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFydCUyMGdhbGxlcnl8ZW58MHx8MHx8&w=1000&q=80");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;

    .text1 {
        text-align: center;
        font-size: 50px;
        margin: 0;
    }

    .text2, .pp {
        text-align: center;
        color: #66fcf1;
        padding-top: 20px;
    }
}

.textdesc {
    color: #66fcf1;
    text-align: center;

    .out {
        color: #66fcf1;
    }
}

.out {
    color: #66fcf1;
}

.photo1 {
    img {
        display: flex;
        width: 100%;
    }
}
