body{
    background-image: url('../assets/wallpaperflare.com_wallpaper.jpg');
}

.main{
    color: #c5c6c7;

    .text1{
        text-align: center;
        font-size: 50px;
        margin-top: 200px;
    }

    .text2{
        text-align: center;
        color: #66fcf1;

    }
}

.textdesc{
    color: #66fcf1;
    text-align: center;

    .out{
        color: #66fcf1;
    }
}

.out{
    color: #66fcf1;
}